{% extends 'layout.html' %}

{% block title %}Palette generator{% endblock %}

{% block content %}

<div class="flex flex-col items-center my-4">
    <h1 class="text-4xl font-bold mb-2">Palette generator</h1>
    <p class="text-md text-gray-600 mb-6">Upload an image to get a color palette</p>
</div>

<div class="my-4 flex gap-6 flex-col lg:flex-row">
    <form class="w-full lg:w-2/5 bg-white rounded-lg px-8 py-6 shadow" method="post" action="/generate_palette"
        enctype="multipart/form-data">
        <div class="space-y-5">
            <div class="border-b border-gray-900/10 pb-4">
                <div class="col-span-full mb-4">
                    <label for="file-upload" class="block text-sm font-medium leading-6 text-gray-900">
                        Select image
                    </label>
                    <div class="mt-2 flex justify-center rounded border border-dashed border-gray-900/25 px-6 py-10">
                        <div class="text-center">
                            <svg class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor"
                                aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z"
                                    clip-rule="evenodd" />
                            </svg>
                            <div class="mt-4 text-sm leading-6 text-gray-600">
                                <label for="file-upload"
                                    class="inline cursor-pointer rounded-sm bg-white font-semibold text-purple-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-purple-600 focus-within:ring-offset-2 hover:text-purple-500">
                                    <span>Upload a file</span>
                                    <input id="file-upload" type="file" class="sr-only" name="file" accept="image/*">
                                </label>
                                <p class="pl-1 inline">or drag and drop</p>
                            </div>
                            <p class="text-xs leading-5 text-gray-600">PNG, JPG, GIF up to 10MB</p>

                            <p id="file-name" class="text-sm leading-5 text-gray-900 mt-2"></p>
                        </div>
                    </div>
                </div>

                <div class="sm:col-span-3 mb-6 flex gap-4 items-start">
                    <div class="flex-1">
                        <label for="color-code" class="block text-sm font-medium leading-6 text-gray-900">Color
                            code</label>
                        <div class="mt-2">
                            <select id="color-code" name="color-code" autocomplete="color-code" class="block w-full rounded border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset 
                                focus:ring-purple-600 sm:max-w-xs sm:text-sm sm:leading-6">
                                <option value="hex" {% if code=='hex' %}selected{% endif %}>Hex</option>
                                <option value="rgb" {% if code=='rgb' %}selected{% endif %}>RGB</option>
                                <option value="hsl" {% if code=='hsl' %}selected{% endif %}>HSL</option>
                                <option value="cmyk" {% if code=='cmyk' %}selected{% endif%}>CMYK</option>
                            </select>
                        </div>
                    </div>

                    <div class="">
                        <label for="color-count" class="block text-sm font-medium leading-6 text-gray-900">Color
                            count</label>
                        <div class="h-10 w-28 bg-gray-50 flex border border-gray-300 rounded items-center mt-2">
                            <!-- Decrement button -->
                            <button type="button" id="decrease-count"
                                class="cursor-pointer outline-none focus:outline-none border-r h-full border-gray-300 transition-all text-gray-500 hover:text-purple-600">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mx-2" viewBox="0 0 20 20"
                                    fill="currentColor">
                                    <path fill-rule="evenodd"
                                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                        clip-rule="evenodd" />
                                </svg>
                            </button>

                            <!-- Input field to display the current color count -->
                            <input name="color-count" id="color-count" placeholder="8" min="1"
                                class="px-2 text-center appearance-none outline-none text-gray-800 w-full bg-white block flex-1 border-0 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm"
                                value="{{color_count}}" />

                            <!-- Increment button -->
                            <button type="button" id="increase-count"
                                class="cursor-pointer outline-none focus:outline-none border-l h-full border-gray-300 transition-all text-gray-500 hover:text-purple-600">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mx-2 fill-current"
                                    viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd"
                                        d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                                        clip-rule="evenodd" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>

                <button type="submit" class="w-full px-6 py-3 text-white font-medium rounded bg-purple-600 hover:bg-purple-700 transition ease-in-out duration-300">
                    Generate palette
                </button>

                {% if colors_list %}
                <button onclick="saveAsImage()" class="w-full mt-2 text-purple-600 border-purple-700 border bg-white py-3 px-6 rounded font-medium hover:bg-purple-50 transition ease-in-out duration-300">
                    Download palette
                </button>
                
                <!-- Canvas (Hidden) -->
                <canvas id="colorCanvas" class="hidden"></canvas>
                {% endif %}
            </div>


            <!-- Color Palette List -->
            <ul class="colors flex flex-col mt-4">
                {% if colors_list %}
                {% for color in colors_list %}
                <li style="background-color: #{{ color.hex }};"
                    class="w-full h-12 flex justify-center items-center cursor-pointer ring-gray-300 hover:ring-2 hover:ring-inset 
                    hover:ring-purple-600" data-color="{{ color[code] }}"
                    onclick="copyColorCode(this)" title="Click to copy">
                    <span class="text-white text-xs text-center">{{ color[code] }}</span>
                </li>
                {% endfor %}
                {% endif %}
            </ul>


        </div>
    </form>

    <div class="w-full lg:w-3/5 flex justify-center h-full flex-1 max-h-dvh">
        <img src="{{ img_url }}" alt="source-img" class="bg-white rounded-lg shadow object-contain p-4">
    </div>

</div>

{% endblock %}