{% extends 'layout.html' %}
{% block title %}Guess Hex{% endblock title %}

{% block content %}

<div class="flex flex-col items-center my-4">
    <h1 class="text-4xl font-bold mb-2 text-slate-800">Guess Hex</h1>
    <p class="text-md text-gray-500 mb-6">Test Your Color IQ!</p>
</div>

<div class="flex flex-col justify-center items-center">

    <p class="text-lg font-bold mb-4 text-slate-800">Score: {{ score }}</p>

    <div class="bg-white shadow-lg shadow-purple-100 rounded-lg overflow-hidden w-full md:w-2/3 lg:w-1/2">
        <div class="flex">
            <div class="w-full h-64 flex items-end justify-center p-4" style="background-color: {{ random_hex }};">
                {% if guessed_color %}
                <span class="font-bold px-2 py-1 bg-gray-50 shadow-sm rounded-sm">
                    {{random_hex}}
                </span>
                {% endif %}
            </div>
            {% if guessed_color %}
            <div class="w-full h-64 flex items-end justify-center p-4" style="background-color: #{{ guessed_color }};">
                <span class="font-bold px-2 py-1 bg-gray-50 shadow-sm rounded-sm">
                    #{{guessed_color}}
                </span>
            </div>
            {% endif %}
        </div>

        <div class="p-4 flex flex-col items-center">
            <form action="/guess_hex" method="POST"
                class="w-full flex flex-col justify-center items-center space-y-4 mb-2">

                {% if not guessed_color %}
                <div class="flex space-x-4">
                    <input type="text" name="guess" placeholder="Guess hex"
                        class="block w-full md:w-64 rounded border border-gray-300 py-3 pl-4 text-base focus:border-purple-500 focus:outline-none focus:ring-purple-500 sm:text-sm"
                        autocomplete="off">
                    <input type="hidden" name="answer" value="{{ random_hex }}">
                    <button type="submit" name="action" value="guess"
                        class="inline-block w-28 px-6 py-2.5 text-white font-medium rounded bg-purple-600 hover:bg-purple-700 transition ease-in-out duration-300">Guess</button>
                </div>
                {% endif %}

                <p class="text-base text-gray-800">{{ result if result }}</p>

                <div class="flex space-x-4">
                    <button type="submit" name="action" value="next_color"
                        class="w-28 px-6 py-2.5 text-white font-medium rounded bg-purple-600 hover:bg-purple-700 transition ease-in-out duration-300">
                        Next</button>
                    <button type="submit" name="action" value="restart"
                        class="w-28 inline-block py-2.5 px-6 rounded font-medium text-purple-900 border-purple-100 border bg-purple-50 py-3 px-6 rounded font-medium hover:bg-purple-100 transition ease-in-out duration-300">
                        Restart
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}